<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>

	<listener class-name="apiAssignment.listeners.ExtentListeners">
	</listener>
</listeners>
  
  <test name="Articles API Test">
    <classes>
      <class name="apiAssignment.testcases.stripe.UsersAPITest"/>
    </classes>
  </test> <!-- Test -->
    
</suite> <!-- Suite -->
