<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="assignment.TestComponents.Listeners"/>
</listeners>


  <test thread-count="5" name="Customer test">
    <classes>
      <class name="assignment.tests.CustomerTests"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Transactions test">
    <classes>
      <class name="assignment.tests.TransactionsTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->


